.myfakebootstrap{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    line-height: 1.5;
    border-radius: .25rem;
}
div{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.end{
    display: flex;
    justify-content: flex-end; 
}

